* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.temp {
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/home.png);
    
}

.opcoes > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 1200px;
   
}

.opcoes > div:nth-child(1) {
    margin-bottom: 50px;
}
.opcoes > div > a > div {
    background-color: #424242;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3ms;
}

.opcoes > div > a > div:hover {
    transform: scale(1.1);
    background-color: #8f8c8c;
}

.opcoes img {
    width: 50px;
    margin-bottom: 1rem;
}

.opcoes a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
