.caixaImagem {
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.caixaImagem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.produtos>div {
    width: 400px;
    margin: auto;
    display: flex;
}

.caixaTexto {
    padding: 50px;
}

.caixaTexto p {
    margin: 20px 0px;
}


.produtos > div {
    background-color: rgb(117, 120, 122);
    color: white;
    margin-bottom: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.produtos {
    width: 33%;
    display: inline-block;
}

.inserir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url(../img/add.png);
    background-size: cover;
    display: block;
    width: 65px;
    height: 65px;
    transition: all .2s ease-in-out;
}

.inserir:hover {
    scale: 1.1;
}

.edit {
    background-image: url(../img/edit-icon.png);
    transition: all .3s ease-in-out;
}

.edit:hover {
    background-color: rgb(17, 58, 9);
    transform: scale(1.1);
    border-radius: 3px;
}

.delete {
    transition: all .3s ease-in-out;
    background-image: url(../img/close-icon.png);
}

.delete:hover {
    transform: scale(1.1);
    border-radius: 3px;
    background-color: red;
}

