header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #f5362559;
    padding: 10px;
    margin: 0px 80px;
    font-size: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ffffff;
    color: #0c0b0b;
}
/* ---- Login e Cadastro */
#login{
    background-image: url(../img/fundo.png);
    background-size: cover;
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#cadastro{
    background-image: url(../img/cadastro.png);
    background-size: cover;
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    text-align: center;
}
#pedidoEnviado{
    background-image: url(../img/pedidoEnviado.png);
    background-size: cover;
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#pedidoEnviado h1{
    margin-top: 160px;
}

#pedidoEnviado p{
    line-height: 3%;
}

#pedidoEnviado div{
    margin: 50px 0px 0px 500px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.login-container,.cadastro-container {
    background-color: #00000085; 
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin: 50px auto;
}

.login-container h2,.cadastro-container h2 {
    color: #f0e7e9;
    text-align: center;
}

.login-container form,.cadastro-container form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-container label,.cadastro-container label {
    margin-bottom: 5px;
    color: #ffffff; 
}

.login-container input,.cadastro-container input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ffffff; 
    border-radius: 5px;
    background-color: #252121; 
    color: #ffffff; 
}

.login-container button,.cadastro-container button {
    padding: 10px;
    background-color: #f309309a; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.login-container button:hover,.cadastro-container button:hover {
    background-color: #7a0b06;
}

.signup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ffffff; /* Cor do texto no link de cadastro */
}

.signup-link:hover {
    text-decoration: underline;
}
/* ---- produto */

#produtos{
    margin: 0px;
    background-image: url(../img/f2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-produtos {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    
}

.produto {
    width: 30%;
    float: left;
    margin: 1%;
    background-color: #dad5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1em;
    color: #666;
}

.btn-adicionar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}