table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: transparent;
    color: #fff;
}

th {
    background-color: rgba(85, 85, 85, 0.5);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr {
    background-color: rgba(52, 58, 63, 0.3);
}

tr:nth-child(even) {
    background-color: rgb(78, 82, 86, 0.3);
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table a {
    color: white;
}

.edit, .delete {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.edit {
    background-image: url(../img/edit-icon.png);
    transition: all .3s ease-in-out;
}

.edit:hover {
    background-color: rgb(17, 58, 9);
    transform: scale(1.1);
    border-radius: 3px;
}

.delete {
    transition: all .3s ease-in-out;
    background-image: url(../img/close-icon.png);
}

.delete:hover {
    transform: scale(1.1);
    border-radius: 3px;
    background-color: red;
}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colAcoes {
    text-align: center;
}

.rolesPag {
    background-image: url(../img/admin.png) !important;
}

.inserir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url(../img/add.png);
    background-size: cover;
    display: block;
    width: 65px;
    height: 65px;
    transition: all .2s ease-in-out;
}

.inserir:hover {
    scale: 1.1;
}

.btnPedidoAdd {
    outline: none;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    transition: all .2s;
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

.btnPedidoAdd:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.btnPedidoAdd:active {
    transform: scale(0.9);
}

select, input {
    background-color: black;
    color: white;
}

