<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>HOME</title>
</head>
<body>
    <div th:if="${usuario?.id_tipoUsuario} == 1">
        <a href="/tipoUsuario/getAll">Lista de Tipo Usuario</a>
        <a href="/usuario/getAll">Lista de Usuarios</a>
    </div>
    <a href="/cliente/getAll">Lista de Clientes</a>
    <a href="/produto/getAll">Lista de Produtos</a>
    <a href="/pedido/getAll">Lista de Pedidos</a>
    <a href="/categoria/getAll">Lista de Categorias</a>
    <a href="/pedido/add">Criar pedido</a>
</body>
</html>