<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Cliente</title>
</head>
<body>
    <table>

        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Observeação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="clientes: ${cliente}">
                <td th:text="${clientes.nome}"></td>
                <td th:text="${clientes.email}"></td>
                <td th:text="${clientes.endereco}"></td>
                <td th:text="${clientes.telefone}"></td>
                <td th:text="${clientes.obervacao_cliente}"></td>
                <td><a th:href="@{'/cliente/getById?id=' + ${clientes.id_cliente}}">Editar</a></td>
                <td><a th:href="@{'/cliente/delete?id=' + ${clientes.id_cliente}}">Excluir</a></td>
            </tr>
        </tbody>
        <a href="/cliente/add">Inserir</a>
        <a href="/home">Menu</a>
    </table>
</body>
</html>