<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tabelas.css}">
    <title>Lista Cliente</title>
</head>

<body>
    <div class="fundo">
        <header>
            <nav>
                <ul><a href="/home">Home</a></ul>
                <ul><a href="/cliente/getAll">Clientes</a></ul>
                <ul><a href="/produto/getAll">Produtos</a></ul>
                <ul><a href="/pedido/getAll">Consultar Pedidos</a></ul>
                <ul><a href="/categoria/getAll">Categorias</a></ul>
                <ul><a href="/pedido/add">Gerar pedido</a></ul>
            </nav>
        </header>
        <main>
        
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Observação</th>
                        <th class="colAcoes">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="clientes: ${cliente}">
                        <td th:text="${clientes.nome}"></td>
                        <td th:text="${clientes.email}"></td>
                        <td th:text="${clientes.endereco}"></td>
                        <td th:text="${clientes.telefone}"></td>
                        <td th:text="${clientes.obervacao_cliente}"></td>
                        <td><div class="acoes"><a class="edit" th:href="@{'/cliente/getById?id=' + ${clientes.id_cliente}}"></a><a class="delete" th:href="@{'/cliente/delete?id=' + ${clientes.id_cliente}}"></a></div></td>
                        
                    </tr>
                </tbody>
        
            </table>
            <a href="/cliente/add"><span class="inserir"></span></a>
        </main>
    </div>

    <footer>
        <div>
         <h1>Contatos</h1>
         <p>34 9 91234 5678</p>
         <p>admin@dominio.com</p>
        </div>
        <div>
            <img id="logo" th:src="@{/img/1.png}" width="100px" alt="">
            <p id="direitos">Nenhum direito reservado</p>
        </div>
        <div>
            <form action="">
                <label for="InscrevaSe">Inscreva -se:</label>
                <br>
                <input type="text" name="InscrevaSe" placeholder="Seu E-mail">
                <input id="enviar" type="button" value="✔️">
            </form>
            <p>Siga-nos:</p>
            <img id="instagram" th:src="@{/img/instagram.png}" alt="">
            <img id="facebook" th:src="@{/img/facebook.png}" alt="">
            <img id="twitter" th:src="@{/img/twitter.png}" alt="">
            <img id="youtube" th:src="@{/img/youtube.png}" alt="">
            
        </div>
    </footer>
</body>

</html>