<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tabelas.css}">
    <title>Lista Pedido</title>
</head>

<body>
    <header>
        <a href="/home">Menu</a>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Código do pedido</th>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Valor Total</th>
                    <th>Observacao</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido: ${pedido}">
                    <td th:text="${pedido.id_pedido}"></td>
                    <td th:text="${pedido.Cliente.nome}"></td>
                    <td th:text="${pedido.data_pedido}"></td>
                    <td th:text="${pedido.valor_pedido}"></td>
                    <td th:text="${pedido.observacao_pedido}"></td>
                    <td><a th:href="@{'/pedido/getById?id=' + ${pedido.id_pedido}}">Visualizar</a></td>
                </tr>
            </tbody>
            
        </table>
    </main>
    
</body>

</html>